
/*Fila perfil*/

#parte-sup{
  background-color: #FFFCEB;
}

/*Imagen perfil*/
#img-per{
  position: relative;
}

/*Cambiar imagen perfil*/
#pos-edit{
  position: absolute;
  bottom: 2%;
}

/*Medidas tarjeta*/
.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }


/*Medias query*/

@media (max-width: 775px) {
  .text-center{
    text-align: right;
  }
}
