<div class="container mb-3">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Carrito compra
      <a href="" class="btn btn-outline-info btn-sm pull-right">Continuar comprando</a>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsive img-fluid" src="assets/images/mermelada_fresa.png" alt="prewiew" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>Mermelada de fresa</strong></h4>
          <h4>
            <small>Su sabor y aroma la hace especial para desayunos, yogures y como acompañamiento en ensaladas frías y elaboración de repostería.</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>2.50 <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus">
              <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                     size="4">
              <input type="button" value="-" class="minus">
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsiveimg-fluid" src="assets/images/mermelada_melocoton.png" alt="prewiew" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>Mermelada de melocotón</strong></h4>
          <h4>
            <small>Sabores de la tierra en desayunos y meriendas y la elaboración de platos de caza. Sorprendente en una vinagreta para aderezar costillas de cerdo.</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>2.50 <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus">
              <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                     size="4">
              <input type="button" value="-" class="minus">
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsiveimg-fluid" src="assets/images/mermelada_ciruela.png" alt="prewiew" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>Mermelada de ciruela</strong></h4>
          <h4>
            <small>Su suave textura la hace ideal para desayunos y elaborar exquisitas salsas para carnes.</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>3.50 <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus">
              <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                     size="4">
              <input type="button" value="-" class="minus">
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="img-responsive img-fluid" src="assets/images/mermelada_naranja.png" alt="prewiew" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>Naranja</strong></h4>
          <h4>
            <small>Perfecta para tomar con helados, yogures, quesos fuertes y como acompañamiento en platos de caza y desayunos.</small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>1.70 <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus">
              <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                     size="4">
              <input type="button" value="-" class="minus">
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>

      <div class="pull-right">
        <a href="" class="btn btn-outline-secondary pull-right">
          Actualizar carrito de la compra
        </a>
      </div>
    </div>
    <div class="card-footer">
      <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="codigo de descuentos">
          </div>
          <div class="col-6">
            <input type="submit" class="btn btn-default" value="Usar cupon">
          </div>
        </div>
      </div>
      <div class="pull-right" style="margin: 10px">
        <a href="" class="btn btn-success pull-right">Comprar</a>
        <div class="pull-right" style="margin: 5px">
          Precio total: <b>10.20€</b>
        </div>
      </div>
    </div>
  </div>
</div>
