<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/mermelada.svg" width="30" height="30" alt="" class="img-fluid">
    Tienda Online
  </a>
  <button class="navbar-toggler navbar-toggler-right text-white hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand">
      <img src="assets/images/lupa.png" width="30" height="30" alt="lupa" class="img-fluid" id="lupa" (click)="visualizaBusqueda()">
    </a>
    <form class="form-inline my-2 my-lg-0" id="busq" onsubmit = "return false">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Mermelada" aria-label="Search" (keyup.enter)="searchProduct(buscarTexto.value)"#buscarTexto>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchProduct(buscarTexto.value)">Search</button>
    </form>
    <ul class="navbar-nav mr-auto mx-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['productos']">Productos</a>
      </li>
    </ul>
    <a class="navbar-brand" [routerLink]="['perfil']">
      <img src="assets/images/usuario.png" width="30" height="30" alt="" class="img-fluid mr-3">
    </a>
    <a class="navbar-brand" [routerLink]="['carrito']">
      <img src="assets/images/carro-de-la-compra.png" width="30" height="30" alt="" class="img-fluid mr-3">
    </a>
  </div>
</nav>
