/* You can add global styles to this file, and also import other style files */
body{
  background:linear-gradient(#FFA994,#FFC394) ;
}

body,div
{
  min-height: 100%;
  position: relative;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated
{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
.animated-fast
{
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
